

.messagesDisplay {
    padding: 5% 0;
    overflow: auto;
    flex: auto;
}

html {
    --scrollbarBG: #ffffff;
    --thumbBG: #C7D0D8;
  }
.msgScroll::-webkit-scrollbar {
    width: 10px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
.msgScroll::-webkit-scrollbar-track {
    background: white;
  }
.msgScroll::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 10px;
    /* border: 3px solid var(--scrollbarBG); */
  }

.progress{
    width: 100vw;
    left: 0;
    position: fixed;
    margin-top: -16px;
    height: 5px;
}

.backNav-none{
  padding-bottom:38px;
  display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
.backNav{
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;

}
.alertLoading{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

