

.messagesDisplay {
    padding: 5% 0;
    overflow: auto;
    flex: auto;
}

html {
    --scrollbarBG: #ffffff;
    --thumbBG: #C7D0D8;
  }
.msgScroll::-webkit-scrollbar {
    width: 10px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
.msgScroll::-webkit-scrollbar-track {
    background: white;
  }
.msgScroll::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 10px;
    /* border: 3px solid var(--scrollbarBG); */
  }

  
.rsw_2Y{
  margin-top: 4em;
}


.backNav{
    padding-bottom: 20px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.backNav button{
  background-color:transparent;
  margin-bottom: -3.5em;
}
.backNav svg{
  color: #3875A8;
  font-size: 40px;
}
.backNav span{
  color: #666;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
}
.alertLoading{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.alertLoadingPopup{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
}
.msgContainer{
    padding:15px 10px;
}

