.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #ffffff;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-color: #f3f3f3;
    height: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 6px solid transparent;
  }
  .container:focus{
    outline: 0;
    border-left-color: #283640;
  }

  .inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width:100%;
  }