.msgBtn{
    float: right;
    width: 100px;
    margin-top: 20vh;
}
.msgBtn button{
    float: right;
    margin:5px;
    font-size: 1.3em;
    height: 100%;
    text-transform: none;
    border-radius: 10em;
    padding: 0.7em 1em;
}
.msgCustom {
    text-align:center;
    padding-top:10vh;
    margin-bottom: 30px;
}
.msgCustom ul{
    list-style:none;
}
.padding-top {
  margin-bottom: 50px !important;
  position:relative !important;
}

.msgCustom svg{
  max-width:200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item p {
  font-weight: 600;
  padding-top:5px;
  font-size:15px;
}
#feedback-form  .item p {
  font-size:9px;
  text-align: center;
}
button.item{
  display: inline-block;
  margin: 0;
  padding: 0;
  opacity: 0.6;
  background-color:transparent;
}
.container-feedback button[aria-checked=true] span{
  font-size:4rem;
}
.msgCustom svg.neutral{
  fill: #FFCB03 !important;
}
.bot-messages{
  width: 90% !important;
  max-width:600px;
}

.bot-msg {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  padding-bottom:5px;
}

.bot-msg-text h1 {
    background-color: #ffffff;
    color: black;
    border-color: #EDEDED;
    border-width: 2px;
    border-radius: 35px 35px 35px 5px;
    padding: 1em;
    font-size:18px;
    float:left;
}

.bot-msg-text h1:focus {
  outline:none;
}

.user-messages {
    margin-top: -30px;
    margin-bottom: 5px;
    overflow: hidden;
}

.user-msg-text p {
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
    border-radius: 49.5px;
    border: 1px solid #EEEEEE;
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    color:#707070;
}

.user-msg-text {
    float: right;
}

.active svg{
    fill: black;
    color:white;
}

.feedback-link {
    float:left;
    font-size:12px;
    cursor: pointer;
    color:#3875A8 !important;
  
}
.voiceOver{
    float:left;
    font-size:11px;
    color:#3875A8;
    background-color:transparent;
}

.container-feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 40px;
    width:100%;
}
.msgCustom .container-feedback {
  padding: 10px 0px 10px;
}

.container-feedback-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
}
.container-feedback-number p {
  height:0;
  font-weight: 600;
}
#feedback-form  h1 {
    text-align:left;
    font-size:25px;
}

#feedback-form .agreeBtn {
   width:100%;
}


.item {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  .radio {
    display: none;
  }
  .radio ~ span {
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s;
  }


  .radio:checked ~ span {
    filter: grayscale(0);
    font-size: 4rem;
  }
  
  .choice{
    -webkit-padding-before: 0;
    padding-block-start: 0;
    -webkit-padding-after: 0;
    padding-block-end: 0;
    -webkit-padding-start: 16px;
    padding-inline-start: 16px;
    -webkit-padding-end: 16px;
    padding-inline-end: 16px;
    -webkit-margin-after: 16px;
    margin-block-end: 16px;
    border-radius: 11px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border: 3px solid #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    inline-size: 100%;
    text-align: start;
    min-block-size: 88px;

  }
.choice .label{
    -webkit-margin-before: 20px;
    margin-block-start: 20px;
    -webkit-margin-after: 1px;
    margin-block-end: 1px;
    font-size: 17px;
    line-height: 21px;
    color: #1d1d1f;
    font-weight: 600;
    max-width:200px;
}

  .choice svg {
    margin-top: 19px;
    margin-left: 20px;
    width: 22px!important;
    height: 22px!important;
    -webkit-margin-before: 19px;
    margin-block-start: 19px;
    -webkit-margin-start: 20px;
    margin-inline-start: 20px;
    fill: #dadada;
    inline-size: 22px!important;
    block-size: 22px!important;
  }

.choice[aria-checked=true] svg {
    fill: #3875A8;
}
.choice[aria-checked=true] {
  border: 3px solid #3875A8;
}

.detailed-label{
    margin-bottom: 20px;
    margin-top: 4px;
  }

.valSubmitBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    border-radius: 500px;
  }

  .container-rangeUp{
    float: left;
    margin-right: 20px;
    margin-left: 20vw;
  }

  .rangeTopContainer{
    padding-top:1em;
    padding-bottom:1em;
  }
  .rangeDecrement{
    padding:0;
    background-color: transparent;
    float:left;
  }

  .rangeIncrement{
    padding:0;
    background-color: transparent;
    float:right;
  }

  .rangeDecrement svg{
    width:30px;
    height:30px;
    font-size:3em;
    color: rgb(60, 122, 174);
  }

  .rangeIncrement svg{
    width:30px;
    height:30px;
    font-size:3em;
    color: rgb(60, 122, 174);
  }

  .scroll{
    overflow:scroll;
  }
  .titleModal {
    font-size:30px;
  }

  .btnContainer {
    display:grid;
    margin-bottom: 20%;
    padding-top:10px;
  }
  
  .modal-open .modal {
    overflow-y: hidden; 
  }