.search-input{
    width: 100%;
    font-size: large;
    border: 1px solid #EEEEEE;
    box-shadow: 0 1px 5px 0 rgba(33,33,36,0.20);
    height: 60px;
}

.inputContainer{
    padding:15px 10px;
    width: 100%;
    left: 0;
    position: absolute;
}

.inputContainer .inputSearchContainer{
    margin-bottom: 20px;
}

.error-msg{
    border:solid 2px #B12F13;
}

.form__field--page-error{
    background: #B12F13;
    border-color: #B12F13;
    color: #fff;
}
.form__field--boxed{
    padding: 1rem;
    border-color: rgba(32,84,113,0.2);
    border-radius: 8px;
    text-align:left;
}
.skip-question {
    margin-bottom:-40px;
    padding: 1rem 0 2rem 0;
    border-radius: 8px;
    color: #3875A8;
    text-align:center;
}
.skip-question-btn {
    padding: 0.5rem 0 1.5rem 0;
    border-radius: 8px;
    color: #3875A8;
    text-align:center;
}
.skip-question button {
    color: #3875A8;
    background-color:transparent;
    -webkit-appearance: none;
    font-size: 14px;
}
.skip-question-btn button {
    color: #3875A8;
    background-color:transparent;
    -webkit-appearance: none;
    font-size: 14px;
}
.inputContainer .voiceIcon{
    margin-left: -90px;
}
.inputContainer .voiceIcon svg{
    margin-left: -5px;
}
.inputContainer .searchIcon{
    width: 55px;
    margin-left: 10px;
    border-radius: 0 40px 40px 0;
    padding: 15px;
    height: 55px;
    background-color: #3875A8;
    margin-top: -5px;
}
.inputContainer .searchIcon svg{
    color:white;
    font-size: 25px;
    margin-left:-5px;
    margin-top: 5px;
}
.inputContainer .searchIcon.disabled{
    background-color: #b3b3b3;
}

.textArea {
    background-color: #ffffff;
    width: 100%;
    font-size: large;
    border-radius: 49.5px;
    padding: 15px;
    height: 55px;
}

@media only screen and (max-width: 600px) {

    .textArea {
        -webkit-appearance: none;
        border:0.2px solid #ccc;
        font-size: 16px;
    }
    .textArea:focus {
        box-shadow:none;
    }
}
.submitBtn {
    width: 10%;
    background-color: white;
    font-weight: bold;
    color: #2177D2;
    border-top: 0px;
}

button.submitBtn:hover {
    background-color: #2177D2;
    font-weight: bold;
    color: white;
    margin-top:-1px;
    z-index:100;
}