.agreeBtn {
    background-color: #EDEDED;
    color: black;
    border-color: #EDEDED;
    border-width: 2px;
    border-radius: 35px 35px 35px 5px;
    padding: 1em;
    margin: 0.5em;
}
.modal-body{
    display: flex;
    flex-direction: column;
}

.modal-header{
    border-bottom:0;
}

.modal-footer{
    border-top:0;
}

.agreeBtn:hover {
    background-color: white;
    color: black;
    border-color: #EDEDED;

    border-width: 2px;
}

.agreeBtn:focus-within {
    background-color: #EDEDED;
    color: black;
    border-color: #EDEDED;
    border-width: 2px;

}

.agreeBtn:active {
    background-color: #EDEDED !important;
    color: black !important;
    border-color: #EDEDED !important;
    border-width: 2px !important;
    font-weight: bold !important;
}
.agreeBtn:visited {
    background-color: #EDEDED;
    color: black;
    border-color: #EDEDED;
    border-width: 2px;

}

.call-btn{
    background-color: #d10000;
    color: white;
    margin-top: 2em;
}
.display-linebreak {
    white-space: pre;
}

.modal-content{
    height:100vh;
}
.modal-dialog{
    margin:0 auto;
}
.alert-modal .modal-body{
    padding-top: 50%;
}