.dqpl-label{
    display:none !important;
}

.dqpl-text-input{
    border-radius:500px;
    font-size: 20px;
}

.container-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: black;
}