.dqpl-label{
    display:none !important;
}

.dqpl-text-input{
    border-radius:500px;
    font-size: 20px;
}
.site-logo{
    padding: 1.5em;
}
.logoText{
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    color:#3875A8;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.logoTextFront{
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    color:#666;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.site-logo-popup{
    padding: 1em 2em;
}
.inputSearchContainer{
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* Screen-reader fix*/
    height:0;
}

.inputSearchContainer svg{
    color:#3875A8;
}

.searchIcon{
    margin-right: -42px;
    z-index: 1;
    width: 25px;
}
.voiceIcon {
    width: 25px;
    display: flex;
    margin-left: -42px;
}

.voiceIcon a{
    width:25px;
}
.voiceIcon svg {
    font-size: 2em;
    height: 30px;
    margin-top:-3px;
}




/* initially label is below input */
.inputSearchContainer label {
    display: inline-block;
    position: absolute;
    margin-top: -6px;
    margin-left: 35px;
    transition: all 150ms ease-in;
    color: #676767;
    display:none;

   }

   .inputContainer label {
        top:13px;
        margin-top: 0;

   }

   .inputContainer .error label {
    top:unset;

}
  /* when the label is activated, it jumps up (using translateY) */
          /* you could add animation here as well */
   label.field-active {
    transform: translateY(-25px);
    font-size: 12px;
    color:black;
    display:block;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
   }
   
   input:focus {
    box-shadow: 0 1px 5px 0 rgba(33,33,36,0.20);
    background-color: #ffffff;
        border:1px solid #3c7aae;
   }

.hidden{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    font-size:1px;
}

.react-autosuggest__suggestions-container--open .hidden{
    display:none;
}

[role=listbox],[aria-haspopup=listbox], [aria-haspopup=listbox]:hover, [role=listbox]:hover{
    border:0;
}
.container-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.react-autosuggest__input{
    -webkit-appearance: none;
    width: 90vw;
    max-width: 500px;
    font-size: large;
    border-radius: 49.5px;
    padding: 15px 50px;
    height: 60px;
}

.highlight {
    font-weight: bold;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #eee;
  }
  

  .react-autosuggest__suggestions-list li{
    list-style-type:none;
    flex: auto;
    font-size:20px;
    margin: 0 20px;
    padding-top: 5px;
    align-items: center;
    margin: 0 20px 0 14px;
}

.react-autosuggest__suggestions-container--open{
    background: #fff;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    border: 0;
    border-radius: 0 0 24px 24px;
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    padding-bottom: 4px;
    overflow: hidden;
    margin-top: 10px;
    padding-top: 20px;
    cursor: pointer;
}

.alertText{
    color:#666;
}
@media only screen and (max-width: 600px) {

    .searchModal .react-autosuggest__input{
        width: 100vw;
        max-width: 500px;
        font-size: large;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        padding: 15px 45px;
        height: 60px;
        margin-top: 5px;
        border-bottom: 2px solid #ccc !important;
    }
    .react-autosuggest__input--focused{
        outline: none !important;
        box-shadow: none !important;
        border-bottom: 2px solid #ccc !important;
    }
    .react-autosuggest__input:focus{
        outline: none;
        border: 0
    }
    .react-autosuggest__input:hover{
        outline: none;
        border:0;
    }



    .inputSearchContainer svg {
        color: #3875A8;
    }

    .backIcon{
        margin-left: -10px;
        margin-top: -5px;
        z-index: 1;
        width: 30px;
        height: 30px;
        background-color: transparent;
    }
    
    .backIcon svg{
        margin-left: -40px;
        width: 25px;
        color: #3875A8;

    }

    .searchModalIcon{
        display: flex;
        margin-left: auto;
        width: 45px;
        height: 30px;
        z-index:1;
        height: 30px;
        margin-top: -30px;
        background-color: transparent;
    }

    .searchModalIcon svg{
        width: 25px;
        color: #2177D2;
    }
  
    .searchInputIcon{
        width: 42px;
        height: 25px;
        z-index:1;
        margin-left: -20px;
    }

  
    .searchIcon{
        width: 25px;
        height: 30px;
        background-color: transparent;
    }
    .inputSearchContainer .searchIcon{
        margin-top:-5px;
    }
    
    .searchIcon svg{
        margin-left: -30px;
        width: 25px;

    }

    .searchModal .modal-content{
        background-color:#ffffff;
    }

    .react-autosuggest__container{
        width: 100vw;
        left: 0;
        position: absolute;
    }
 .react-autosuggest__suggestions-container{
        position: absolute;
        top: 15px;
        left:0;
        width: 100vw;
        box-shadow: none;
        background:transparent;
    }

    .react-autosuggest__suggestions-list li{
        padding: 10px 3px 11px 10px;
        display: flex;
        font-size:1.2em;
        align-items: center;
        min-width: 0;
    }
}


.exampleCases{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 100px 0;
    text-align: center;
    max-width:500px;
}

.exampleCases .intro{
    margin-top: 10px;
    font-size: 0.6em;
    font-weight: bold;
}
.exampleCases .link{
    margin-top: 10px;
    font-size: 0.6em;
    font-weight: bold;
    color:#3875A8;
}
.msg{
    margin-top:100px;
}
.msg-closed{
    text-align:center;
    padding:1.5rem;
    font-size:0.7rem;
    
}
.msg-closed button {
    color: #3875A8;
    background-color: transparent;
}

.exampleBtn{
        color: black;
        border-color: #979797;
        border-width: 5px;
        border-radius: 35px;
        padding: 1em;
        margin: 0.5em;
        font-size: 14px;
        box-shadow: 0 1px 4px 0 rgba(33,33,36,0.15);
        background-color: #ffffff;
        -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s; /* Firefox < 16 */
         -ms-animation: fadein 1s; /* Internet Explorer */
          -o-animation: fadein 1s; /* Opera < 12.1 */
             animation: fadein 1s;

}

@keyframes fadein {
    0% {
        opacity: 0; -webkit-transform: translateY(10px);
    } 
    100% {
        opacity: 1; -webkit-transform: translateY(0%);
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0% {
        opacity: 0; -webkit-transform: translateY(10px);
    } 
    100% {
        opacity: 1; -webkit-transform: translateY(0%);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% {
        opacity: 0; -webkit-transform: translateY(10px);
    } 
    100% {
        opacity: 1; -webkit-transform: translateY(0%);
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% {
        opacity: 0; -webkit-transform: translateY(10px);
    } 
    100% {
        opacity: 1; -webkit-transform: translateY(0%);
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    0% {
        opacity: 0; -webkit-transform: translateY(10px);
    } 
    100% {
        opacity: 1; -webkit-transform: translateY(0%);
    }
}