.rs-play{
  width:30px;
}

.voiceMsg{
  font-size:20px;
}

.voiceButton {
  margin: 0 auto;
  font-size: 5em;
  margin-top: 20vh;
}

.voiceButton svg{
  margin:0 auto;
}

.activateMic {
    margin:0 auto;
    padding-top:2em;
    font-size:1em;
}