body {
  overflow:hidden;
  background-color: #f5f5f7;
}
body.dark {
  background-color: #383838;
  color: #c5c5c5 !important;
}
.dark a {
  color:#c5c5c5;
}
.dark a:hover{
  color:#c5c5c5;
}
.dark .modal-content{
  background-color: #383838;
}
.dark .dqpl-layout{ 
  background-color: #383838;
}
.dark .site-logo circle  {
 fill:#c5c5c5 !important;
}
.dark .site-logo path  {
  stroke:#c5c5c5 !important;
 }
.dark .react-autosuggest__input{
  background-color: #383838;
  color:#c5c5c5;
  border: 2px solid #c5c5c5;
}
.dark label.field-active{
  color:#c5c5c5;
  text-shadow: 1px 0 0 #383838, -1px 0 0 #383838, 2px 0 0 #383838, -2px 0 0 #383838, 0 1px 0 #383838, 0 -1px 0 #383838, 0 2px 0 #383838, 0 -2px 0 #383838;
}
.dark .logoText{
  color:#c5c5c5;
}
.dark .exampleBtn{
  border: 2px solid #c5c5c5;
  background-color: #383838;
  color: #c5c5c5;
}
.dark .inputSearchContainer svg{
  color:#c5c5c5;
}
.dark .dqpl-button-primary{
  background-color: #383838;
  border: 2px solid #c5c5c5;
}
.dark .exampleCases .link {
  color:#c5c5c5;
}
.dark .chatText{
  color:#c5c5c5;
}
.dark .voiceOver{
  color:#c5c5c5;
}
.dark .skip-question button{
  color:#c5c5c5
}
.dark .inputContainer .searchIcon{
  background-color: #383838;
}
.dark .skip-question-btn button{
  color:#c5c5c5
}
.dark .backNav span{
  color:#c5c5c5
}
.dark .backNav svg{
  color:#c5c5c5
}
.dark .speech-control-buttons .btn{
  color:#c5c5c5
}
.dark .modal-header .close{
  background-color:transparent;
  color: #c5c5c5;
}
.dark .user-msg-text p{
  color: #c5c5c5;
}
.dark .searchModal .modal-content{
  background-color: #383838;
}
.dark .backIcon svg{
  color: #c5c5c5;
}
.dark .searchModalIcon svg{
  color: #c5c5c5;
}
.dark .react-autosuggest__suggestions-container--open{
  background-color: #383838;
  color: #c5c5c5;
  box-shadow: 0 3px 8px 0 rgba(255,255,255,0.2), 0 0 0 1px rgba(255,255,255,0.08);
}
.dark .msgCustom svg.neutral{
  fill:#c5c5c5;
}
.dark .rangeDecrement svg {
  color: #c5c5c5;
}
.dark .rangeIncrement svg {
  color: #c5c5c5;
}
.dark .css-7ph4zq{
  background-color: #c5c5c5;
}
.dark .css-dtai3n{
  background-color: #c5c5c5;
}
.dark .css-1kpm4c7{
  background-color: #c5c5c5;
}
body a{
  color:#3875A8;
}
#root{
  max-width: 960px;
  margin: 0 auto;
}
.App {
  width: 90%;
  margin: auto;
}

.App-header {
  color: white;
  background-color: #ffffff;
  height: 5vh;
  font-weight: bolder;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.modal-header .close{
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  background-color:white;

  border-radius:0 0 0 20px;
  padding:20px 30px;
}
.close{
  font-size: 2rem;
}
@media (min-width: 576px){
  .modal-lg, .modal-xl{
    max-width: 100%;
  }
  .modal-content{
    max-width: 950px;
    margin: 0 auto;
    border: 0;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navContainer{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  }

.icons{
  position: relative;
  z-index:1;
}
.icons svg{
  font-size:2em;
  margin: 0.7em;
  stroke-width: 0.4em;
  fill: transparent;
}
.chatIcon svg{
  margin-top: 0.6em;
}
.chatText{
  display: flex;
  color: #666;
  font-size: 10px;
  margin: -15px 15px 0px 3px;
}
.chatText.home{
  margin: -15px 15px 0px 25px;
}

.dqpl-layout{
  left:0 !important;
  top:0;
  padding:0;
  background-color: #f5f5f7;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 12px;
}

[data-reach-skip-link] {
  background-color: #2177D2;
  color: #fff !important;

}
[data-reach-skip-link]:focus {
    background-color: #2177D2;
}

.dqpl-skip-container a{
  outline:none;
}
.dqpl-skip-container.dqpl-skip-container-active{
  top:0;
}

.container {
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-color: #f3f3f3;
  height: 90%;
  margin-bottom: 10px;
  max-width:800px;
}
.modal-content .container {
  overflow:scroll;
}
@media only screen and (min-width: 48em) {
    .container {
      width: 100%; 
  }
}

.modal-content .container{
  padding:15px;
}
.flexible-space{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media only screen and (min-width: 600px) {
  .chatText{
    display: flex;
    color: #666;
    font-size: 14px;
    margin: -15px 15px 0px 3px;
  }
  .chatText.home{
    margin: -15px 15px 0px 20px;
  }
  .chatText.arenden{
    margin: -15px 15px 0px -10px;
  }
}


@media only screen and (min-width: 600px) {
  .skip-nav-container{
    position: absolute;
    z-index: 6;
    left:1px;
  }
}